#### 1) write a python program by taking variables for each data type and convert each variable into all data types.(As discussed in class)

In [10]:
a=10              #int to int
b=int(a)
print(b)

b=float(a)        #int to float
print(b)

b=str(a)          #int to str
print(b)

b=bool(a)         #int to bool
print(b)

10
10.0
10
True

In [12]:
k=97.01      #float to int
h=int(k)
print(h)

h=float(k)    #float to float
print(h)

h=str(k)      #float to str
print(h)

h=bool(k)    #float to bool
print(h)

97
97.01
97.01
True

In [15]:
naruto=False                #bool to int
itachi=int(naruto)
print(itachi)

itachi=float(naruto)       #bool to float
print(itachi)

itachi=str(naruto)         #bool t0 str
print(itachi)

itachi=bool(naruto)         #bool to bool
print(itachi)

0
0.0
False
False

In [20]:
sasuke="1001"                 #str to int
sakura=int(sasuke)
print(sakura)

sakura=float(sasuke)         #str to float
print(sakura)

sakura=str(sasuke)          #str to str
print(sakura)

sakura=bool(sasuke)         #str to bool
print(sakura)

1001
1001.0
1001
True

#### 2.You bought 9 chocolates from a store. Each chocolate costs 1.49 rupees and you gave shopkeeper 20 rupees. Find out using python, how many rupees is the shopkeeper going to give you back?

In [26]:
chocolates=9
cost=1.49
the_amt_given_to_the_shopkeeper=20
amt_returned=the_amt_given_to_the_shopkeeper-chocolates*cost
print("Shopkeeper is going to return",amt_returned, "rupees.")

Shopkeeper is going to return 6.59 rupees.

#### 3.You have a floor which is in square shape that is 92 meter long. Find out total area using python and print it with its units.

In [28]:
floor_length=92
area=floor_length*floor_length
print("Area of the floor is",area,"m*m")

Area of the floor is 8464 m*m

#### 4.practice arithmetic operators.

In [35]:
hi=10
bye=5
print("addition=",hi+bye)
print("subtraction=",hi-bye)
print("multiplication=",hi*bye)
print("division=",hi/b)
print("floor division=",hi//bye)
print("exponent=",hi**bye)
print("modulus=",hi%bye)

addition= 15
subtraction= 5
multiplication= 50
division= 10.0
floor division= 2
exponent= 100000
modulus= 0